/* Use cases */

#use-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }
  .use-cases-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }
  
  .first-half {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 40px;
  }
  
  .use-case {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width: 90%;
  }
  .use-wave{
    display: none;
  }
  
  .use-case-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
  }
  
  .use-case-img {
    margin-bottom: 120px;
    margin-right: 70px;
    user-select: none;
    pointer-events: none;
    height: 45px;
  }
  .find-more-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #7D7D7D;
    border-bottom: 2px solid white;
    padding-bottom: 7px;
    width: 35%;
  }
  
  .f-line {
    height: 170px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .h-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  .h-line {
    width: 490px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .perl {
    position: absolute;
  
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #00c4f4;
  
    filter: blur(80px);
  }

  
  .perl-img {
    position: absolute;
    height: 50px;
    opacity: 0.8;
    animation: perlGlow 3s infinite ease-in-out;
  }
  
  .use-spiral{
    display:none;
    position: absolute;
    left:3%;
    height: 300px;
    width: 250px;
    margin-top: -50rem;
  }
  .use-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .use-overlap-t-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 85px;
    font-weight: bold;
    opacity: 0.1;
  }
  .use-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 50px;
    font-weight: bold;
  }
  .overlap-use-text{
    font-size: 22px;
  width: 65%;
  text-align: center;
  }

  .use-heading {
    font-size: 15px;
    font-weight: bold;
  }
  
  .use-text {
    font-size: 14px;
    color: #7D7D7D;
    margin-top: 7px;
  }

@media (min-width:0px) and (max-width: 500px) {

    
  .use-text-overlap {
    
    padding: 20px 0px;
  }
  
  .use-overlap-t-1 {
    top: 13%;

    font-size: 50px;
  }

  .use-overlap-t-2 {
    z-index: 1;
    font-size: 33px;
  }

  .overlap-use-text{
    font-size: 17px;
    width: 83%;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
  }

  .use-cases-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }
  
  .first-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 30px;
  }
  
  .use-case {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    width: 90%;
  }
  .use-heading {
    font-size: 16px;
    font-weight: bold;
    width: 85%;
  }
  
  .use-text {
    width: 87%;
    font-size: 15px;
    line-height: 22px;
    margin-top: 7px;
  }
  .use-case-text {
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
  }
  
  .use-case-img {
    margin-bottom: 120px;
    margin-right: 10px;
    user-select: none;
    pointer-events: none;
    height: 40px;
    align-self: flex-start;
  }
  .find-more-container {
    gap: 10px;
    width: 60%;
    align-self: flex-start;
    margin-left: 10px;
  }
  
  .f-line {
    height: 1px;
    width: 230px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .h-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  
  .h-line {
    width: 120px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .perl {
   display: none;
  }
  
  .perl-img {
    display: none;
  }
  
  }
  
  @media (min-width:501px) and (max-width: 640px) {
      
  .use-text-overlap {
    
    padding: 20px 0px;
  }
  
  .use-overlap-t-1 {
    top: 10%;

    font-size: 47px;
  }

  .use-overlap-t-2 {
    z-index: 1;
    font-size: 35px;
  }

  .overlap-use-text{
    font-size: 17px;
    width: 83%;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
  }

  .use-cases-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }
  
  .first-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 30px;
  }
  
  .use-case {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    width: 90%;
  }
  .use-heading {
    font-size: 16px;
    font-weight: bold;
    width: 85%;
  }
  
  .use-text {
    width: 87%;
    font-size: 15px;
    line-height: 22px;
    margin-top: 7px;
  }
  .use-case-text {
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
  }
  
  .use-case-img {
    margin-bottom: 120px;
    margin-right: 10px;
    user-select: none;
    pointer-events: none;
    height: 40px;
    align-self: flex-start;
  }
  .find-more-container {
    gap: 10px;
    width: 35%;
    align-self: flex-start;
    margin-left: 10px;
  }
  
  .f-line {
    height: 1px;
    width: 450px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .h-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  
  .h-line {
    width: 230px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .perl {
   display: none;
  }
  
  .perl-img {
    display: none;
  }
  }

  @media (min-width:641px) and (max-width: 767px) {
      
    .use-text-overlap {
      
      padding: 20px 0px;
    }
    
    .use-overlap-t-1 {
      top: 16%;
  
      font-size: 80px;
    }
  
    .use-overlap-t-2 {
      z-index: 1;
      font-size: 45px;
    }
  
    .overlap-use-text{
      font-size: 17px;
      width: 83%;
      text-align: center;
      margin-top: 20px;
      font-weight: normal;
    }
  
    .use-cases-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
      /* border: 1px solid palevioletred; */
    }
    
    .first-half {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      gap: 30px;
    }
    
    .use-case {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* border: 1px solid white; */
      width: 90%;
    }
    .use-heading {
      font-size: 18px;
      font-weight: bold;
      width: 85%;
    }
    
    .use-text {
      width: 87%;
      font-size: 15px;
      line-height: 22px;
      margin-top: 7px;
    }
    .use-case-text {
      display: flex;
      flex-direction: column;
  justify-content: center;
      align-items: center;
      text-align: left;
      gap: 20px;
    }
    
    .use-case-img {
      margin-bottom: 120px;
      margin-right: 10px;
      user-select: none;
      pointer-events: none;
      
      align-self: flex-start;
    }
    .find-more-container {
      gap: 10px;
      width: 35%;
      align-self: flex-start;
      margin-left: 30px;
    }
    
    .f-line {
      height: 1px;
      width: 550px;
      border: 1px solid #9c9999;
      opacity: 0.5;
    }
    
    .h-lines {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0px;
    }
    
    .h-line {
      width: 270px;
      border: 1px solid #9c9999;
      opacity: 0.5;
    }
    
    .perl {
     display: none;
    }
    
    .perl-img {
      display: none;
    }
    }


    @media (min-width:768px) and (max-width: 964px) {
      #use-case{
        margin-bottom: 70px;
      }
      .use-text-overlap {
      
        padding: 20px 0px;
      }
      
      .use-overlap-t-1 {
        top: 16%;
    
        font-size: 80px;
      }
    
      .use-overlap-t-2 {
        z-index: 1;
        font-size: 45px;
      }
    
      .overlap-use-text{
        font-size: 17px;
        width: 83%;
        text-align: center;
        margin-top: 20px;
        font-weight: normal;
      }
    
      .use-cases-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        /* border: 1px solid palevioletred; */
      }
      
      .first-half {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%;
        gap: 30px;
      }
      
      .use-case {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
        width: 90%;
      }
      .use-heading {
        font-size: 18px;
        font-weight: bold;
        width: 85%;
      }
      
      .use-text {
        width: 90%;
        font-size: 15px;
        line-height: 22px;
        margin-top: 7px;
      }
      .use-case-text {
        display: flex;
        flex-direction: column;
    justify-content: center;
        align-items: center;
        text-align: left;
        gap: 20px;
      }
      
      .use-case-img {
        margin-bottom: 120px;
        margin-right: 10px;
        user-select: none;
        pointer-events: none;
        
        align-self: flex-start;
      }
      .find-more-container {
        gap: 10px;
        width: 50%;
        align-self: flex-start;
        margin-left: 15px;
        z-index: 2;
      }
      
      .f-line {
        height: 260px;
        width: 1px;
        border: 1px solid #9c9999;
        opacity: 0.5;
      }
      
      .h-lines {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 90px;
      }
      
      .h-line {
        width: 270px;
        border: 1px solid #9c9999;
        opacity: 0.5;
       
      }
      
      .perl {
       display: inline;
      }
      
      .perl-img {
        display: inline;
      }
      .use-wave{
        
        display: inline;
    position: absolute; 
    right: 0;
    
   
  margin-top: 0rem;
    height: 490px;
    z-index: 1;
    animation: Glow 3s infinite ease-in-out;
      }
    }

    @media screen and (min-width:965px){
      #use-case{
        margin-bottom: 70px;
      }
      .use-text-overlap {
      
        padding: 20px 0px;
      }
      
      .use-overlap-t-1 {
        top: 16%;
    
        font-size: 80px;
      }
    
      .use-overlap-t-2 {
        z-index: 1;
        font-size: 45px;
      }
    
      .overlap-use-text{
        font-size: 18px;
        width: 51%;
        text-align: center;
        margin-top: 20px;
        font-weight: normal;
      }
    
      .use-cases-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        /* border: 1px solid palevioletred; */
      }
      
      .first-half {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%;
        gap: 30px;
      }
      
      .use-case {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
        width: 90%;
      }
      .use-heading {
        font-size: 18px;
        font-weight: bold;
        width: 90%;
       
      }
      
      .use-text {
        width: 90%;
        font-size: 14px;
        line-height: 22px;
        margin-top: 0px;
      }
      .use-case-text {
        display: flex;
        flex-direction: column;
    justify-content: center;
        align-items: center;
        text-align: left;
        gap: 10px;
      }
      
      .use-case-img {
        margin-bottom: 120px;
        margin-right: 10px;
        user-select: none;
        pointer-events: none;
        height: 35px;
        align-self: flex-start;
      }
      .find-more-container {
        gap: 10px;
        width: 130px;
        align-self: flex-start;
        margin-left: 22px;
        z-index: 2;
      }
      
      .f-line {
        height: 190px;
        width: 1px;
        border: 1px solid #9c9999;
        opacity: 0.5;
      }
      
      .h-lines {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 90px;
      }
      
      .h-line {
        width: 435px;
        border: 1px solid #9c9999;
        opacity: 0.5;
       
      }
      
      .perl {
       display: inline;
      }
      
      .perl-img {
        display: inline;
      }

      .use-spiral{
        display: inline;
      }
      .use-wave{
        
        display: inline;
    position: absolute; 
    right: 0;
    
   
  margin-top: 0rem;
    height: 490px;
    z-index: 1;
    animation: Glow 3s infinite ease-in-out;
      }
    }