/* Use cases */

#use-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }
  .use-cases-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }
  
  .first-half {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 40px;
  }
  
  .use-case {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width: 90%;
  }
  
  .use-case-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
  }
  
  .use-case-img {
    margin-bottom: 120px;
    margin-right: 70px;
    user-select: none;
    pointer-events: none;
    height: 45px;
  }
  .find-more-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #7D7D7D;
    border-bottom: 2px solid white;
    padding-bottom: 7px;
    width: 35%;
  }
  
  .f-line {
    height: 170px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .h-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  .h-line {
    width: 490px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .perl {
    position: absolute;
  
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #00c4f4;
  
    filter: blur(80px);
  }
  
  .perl-img {
    position: absolute;
    height: 50px;
    opacity: 0.8;
    animation: perlGlow 3s infinite ease-in-out;
  }
  
  
  .use-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .use-overlap-t-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 85px;
    font-weight: bold;
    opacity: 0.2;
  }
  .use-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 50px;
    font-weight: bold;
  }
  .overlap-use-text{
    font-size: 22px;
  width: 65%;
  text-align: center;
  }

  .use-heading {
    font-size: 15px;
    font-weight: bold;
  }
  
  .use-text {
    font-size: 14px;
    color: #7D7D7D;
    margin-top: 7px;
  }

  @media only screen and (max-width: 412px) {

    
  .use-text-overlap {
    
    padding: 20px 0px;
  }
  
  .use-overlap-t-1 {
    top: 10%;

    font-size: 47px;
  }

  .use-overlap-t-2 {
    z-index: 1;
    font-size: 35px;
  }

  .overlap-use-text{
    font-size: 17px;
    width: 83%;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
  }

  .use-cases-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }
  
  .first-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 30px;
  }
  
  .use-case {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    width: 90%;
  }
  .use-heading {
    font-size: 16px;
    font-weight: bold;
    width: 85%;
  }
  
  .use-text {
    width: 87%;
    font-size: 15px;
    line-height: 22px;
    margin-top: 7px;
  }
  .use-case-text {
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
  }
  
  .use-case-img {
    margin-bottom: 120px;
    margin-right: 10px;
    user-select: none;
    pointer-events: none;
    height: 40px;
    align-self: flex-start;
  }
  .find-more-container {
    gap: 10px;
    width: 60%;
    align-self: flex-start;
    margin-left: 10px;
  }
  
  .f-line {
    height: 1px;
    width: 230px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .h-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  
  .h-line {
    width: 120px;
    border: 1px solid #9c9999;
    opacity: 0.5;
  }
  
  .perl {
   display: none;
  }
  
  .perl-img {
    display: none;
  }
  
  }
  