.navbar {
  width: 100%;
  padding: 12px 36px;
  border: 1px solid rgba(229, 231, 235, 0.4);
  background-color: rgba(3, 11, 21, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 8;
  position: fixed;
}

.menu {
  display: none;
  margin-top: 70px;
  flex-direction: column;
  position: fixed;
  top: -100%;
  left: 0;
  padding-top: 50px;
  text-align: center;
  background-color: rgb(3, 11, 21);
  width: 100%;
  height: 100vh;
  border-top: 1px solid #8f8d8d;
}

.hamburger-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  margin-left: 20px;
  color: white;
}

.navbar .logo {
  width: 75px;
  height: 50px;
  pointer-events: none;
  user-select: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  color: white;
  font-size: 20px;
}

.navbar li a {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}



.navbar li a:active{
  border-bottom: 2px solid #00c4f4;
  border-radius: 1px;
  color: white;
}



.navbar li a.active{
  border-bottom: 2px solid #00c4f4;
  border-radius: 1px;
  color: white;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telegram:hover {
  cursor: pointer;
  opacity: 0.8;
}

.launchApp-btn {
  padding: 12px 20px;
  color: white;
  font-size: 15px;
  border: 1px solid #00c4f4;
  border-radius: 8px;
  margin-left: 18px;
  background-color: transparent;
}

.launchApp-btn:hover {
  background-color: #00c4f4;
  color: white;
  cursor: pointer;
}

.menu.active {
  display: flex;
}

.menu a {
  
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  animation: slideUp 0.5s ease-in-out;
 display: inline-block;
 
}
.item-hover {
  border-bottom: 2px solid transparent; /* Initially transparent border */
  border-radius: 1px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}


.item-hover:hover {
  border-bottom-color: #00c4f4; /* Border color on hover */
}

.menu a.active span{
  border-bottom: 2px solid #00c4f4; /* Active link border */
  border-radius: 1px;
  color: white;
}

/* Remove the :active pseudo-class from this selector */
.menu a.item-hover {
  border-bottom: 2px solid #00c4f4; /* Border color on hover */
  border-radius: 1px;
  color: white;
}

.menu a:hover {
  color: white;
}

.close-icon {
  font-size: 40px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 30px;
}



@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 640px) {
  .navbar-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .launchApp-btn {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .menu {
    display: none;
  }


  .menu.active {
    display: flex;
  }

  .launchApp-btn {
    display: none;
  }
}
