* {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
  font-size: 15px;
}

.body {
  background-color: rgb(3, 11, 21);
}

.App {
  color: white;
}

.message{
  display: none;
}


.whitepaper:hover .message{
  position: absolute;
  
  margin-left: 15px;
  display: block;
  background-color: #00c4f4;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 17px;
}
.navbar {
  width: 100%;
  padding: 12px 32px;
  border: 1px solid rgba(229, 231, 235, 0.4);
  background-color: rgba(3, 11, 21, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  position: fixed;
}

.menu {
  display: none;
}

.hamburger-icon {
  display: none;
}
.navbar .logo {
  width: 75px;
  height: 50px;
  pointer-events: none;
  user-select: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  color: white;
  font-size: 20px;
}

.navbar li a {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.navbar li a:hover {
  border-bottom: 2px solid #00c4f4;
  border-radius: 1px;
color: #00c4f4;
}
.navbar li a:active{
  border-bottom: 2px solid #00c4f4;
  border-radius: 1px;
color: #00c4f4;
}


.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.telegram:hover{
  cursor: pointer;
  opacity: 0.8;
}
.launchApp-btn {
  padding: 12px 20px;
  color: white;
  font-size: 15px;
  border: 1px solid #00c4f4;
  border-radius: 8px;
  margin-left: 18px;
  background-color: transparent;
}

.launchApp-btn:hover{
  background-color: #00c4f4;
  color: white;
  cursor: pointer;
}

/* Home Section */
#Home {
  display: flex;
  position: relative;
}

.waveWrapper {
  position: relative; 
  z-index: 0;
}

.waveOne {
  height: 330px;
  width: 450px;
  position: absolute;
  z-index: 1;
  margin-bottom: -36px;
  margin-left: -150px;
  margin-top: -5rem;
  pointer-events: none;
  background: transparent;
  user-select: none;
  animation: Glow 3s infinite ease-in-out;
  display: inline;
}


.glow {
  position: absolute;
  height: 340px;
  width: 490px;
  margin-bottom: -36px;
  margin-left: -220px;
  margin-top: -6rem;
  z-index: 3; 
  pointer-events: none; 
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px rgba(0, 196, 244, 0.5); 
  filter: blur(40px); 
}

.home-logo {
  height: 570px;
  width: 600px;
  margin-top: 70px;
  animation: Glow 3s infinite ease-in-out;
  background: transparent;
  pointer-events: none;
  user-select: none;
}

.home-text-body {
  position: relative;
  text-align: left;
  margin-top: 170px;
  margin-left: 60px;
  color: white;
  width: 90%;
  z-index: 2; 
}

.heading {
  font-size: 49px;
  font-weight: bold;
}

.c-ai {
  font-size: 49px;
  font-weight: bold;
  color: #00c4f4;
}

.sub-text {
  color: #cfcfcf;
  opacity: 0.8;
  margin-top: 20px;
  width: 91%;
}

.home-btns {
  display: flex;
  margin-top: 32px;
}

.telegram-btn {
  color: white;
  background-color: #00c4f4;
  border-radius: 7px;
  border-style: none;
  padding: 15px 25px;
}

/* Feature */
#Feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.overlap-b-text {
  font-size: 20px;
}

.main-feature-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.main-feature {
  border: 1px solid #00c4f4;
  border-radius: 9px;
  padding: 50px 20px;
  height: 330px;
  width: 100%;
  background-color: rgba(3, 11, 21, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.main-feature:hover {
  box-shadow: 0px 0px 14px 0px #00c4f4;
  transition: box-shadow 0.6s ease-in-out, transform 0.3s ease-in-out;
}

.main-heading {
  font-size: 19px;
  font-weight: bold;
}

.main-text {
  font-size: 14px;
  color: #9c9999;
  margin-top: 10px;
}

/* .main-f-img{

} */

.sub-feature-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 45px;
}

.sub-feature {
  border: 1px solid #00c4f4;
  border-radius: 9px;
  padding: 70px 30px;
  height: 270px;
  font-size: 19px;
  width: 83%;
  background-color: rgba(3, 11, 21, 0.5);
  backdrop-filter: blur(7px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.blue {
  color: #00c4f4;
  font-size: 19px;
}

.red {
  color: red;
  font-size: 19px;
}

.cloud-ring {
  position: absolute;
  margin-bottom: -30px;
  margin-left: -1200px;
  margin-top: -6rem;
  align-self: flex-start; 
  display: inline;
  pointer-events: none;
  user-select: none;
}

.cloud-spiral {
  position: absolute;
  margin-bottom: -30px;
  margin-left: 1060px;
  margin-top: -9rem;
  align-self: flex-start; 
  height: 270px;
  display: inline;
  pointer-events: none;
  user-select: none;
}

.glass-star {
  position: absolute;
  /* margin-bottom: -30px;
  margin-left: 1060px;
  margin-top: -9rem; */
  
  height: 400px;
  pointer-events: none;
  user-select: none;
}

.waveTwo {
  position: absolute;
  margin-bottom: -30px;
  margin-left: -370px;
  margin-top: 24rem;
  align-self: flex-start; 
  height: 260px;
  display: inline;
  user-select: none;
  animation: Glow 3s infinite ease-in-out;
  pointer-events: none;
}

.waveThree {
  position: absolute;
  margin-bottom: -30px;
  margin-left: 460px;
  margin-top: -12rem;
  align-self: flex-start; 
  height: 250px;
  display: inline;
  user-select: none;
  animation: Glow 3s infinite ease-in-out;
  pointer-events: none;
}

/* Tokenomics */
#Tokenomics {
  margin-top: 50px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlap-token-text {
  font-size: 22px;
  width: 65%;
  text-align: center;
}

.tokenPC {
  height: 350px;
  width: 60%;
  margin-top: 20px;
  border: 1px solid #00c4f4;
  background: transparent;
  border-radius: 12px;
  user-select: none;
  pointer-events: none;
}

.purple-bar {
  position: absolute;
  margin-bottom: -30px;
  margin-left: 40px;
  margin-top: -20rem;
  align-self: flex-start; 
  height: 150px;
  display: inline;
  user-select: none;
  pointer-events: none;
  animation: bounce 1s infinite;
}

.half-bar {
  position: absolute;
  margin-bottom: -30px;
  margin-left: 0px;
  margin-top: 27rem;
  align-self: flex-start; 
  height: 940px;
  display: inline;
  user-select: none;
  pointer-events: none;
}

.box {
  position: absolute;
  margin-bottom: -30px;
  margin-left: 1050px;
  margin-top: 30rem;
  align-self: flex-start; 
  height: 150px;
  display: inline;
  user-select: none;
  animation: bounce 1s infinite;
  pointer-events: none;
}

.planet {
  display: none;
 
}

.tokenMobile {
  display: none;
}

/* How To Buy */
#howTo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-to-heading {
  font-size: 60px;
  font-weight: bold;
}
.how-to-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy-box {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  color: #9c9999;
}
.to {
  color: #00c4f4;
  font-size: 60px;
  font-weight: bold;
}

.how-to-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.address {
  font-size: 14px;
}
.how-to-btn {
  margin-top: 20px;
  background-color: #00c4f4;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  border-style: none;
}

.slider-container {
  width: 70%;
  overflow: hidden;
  border: 1px solid #00c4f4;
  border-radius: 7px;
  padding: 20px 0;
  height: 117px;
}

.slider {
  display: flex;
  width: calc(300px * 6);
  animation: slide 5s linear infinite;
}

.slide {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 75px;
  margin-left: 20px;
}

/* Use cases */

#use-case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.use-cases-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 1px solid palevioletred; */
}

.first-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 40px;
}

.use-case {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
  width: 90%;
}

.use-case-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
}

.use-case-img {
  margin-bottom: 120px;
  margin-right: 70px;
  user-select: none;
  pointer-events: none;
  height: 45px;
}
.find-more-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #9c9999;
  border-bottom: 2px solid white;
  padding-bottom: 7px;
  width: 35%;
}

.f-line {
  height: 170px;
  border: 1px solid #9c9999;
  opacity: 0.5;
}

.h-lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.h-line {
  width: 490px;
  border: 1px solid #9c9999;
  opacity: 0.5;
}

.perl {
  position: absolute;

  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #00c4f4;

  filter: blur(80px);
}

.perl-img {
  position: absolute;
  height: 50px;
  opacity: 0.8;
  animation: perlGlow 3s infinite ease-in-out;
}

/* RoadMap */

#Roadmap {
  margin-bottom: 70px;
  margin-left: 15px;
  margin-right: 15px;
 
 
}
.swiper {
  position: relative;
  
  
  width: 80%;
height: 500px;
  margin-top: 50px;
  
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  transition-property: transform;
  box-sizing: content-box;

 
 
   
}

.swiper-slide {
  /* float: left; */
  
  border: 1px solid #00c4f4;
  border-radius: 15px;
 
 
 text-align: left;
  padding: 60px 30px;
  color: white;
  display: flex;
  flex-direction: column;
justify-content: center;

}




.radio-btn {
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  height: 19px;
  width: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9c9999;
width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.content-text {
  font-size: 13px;
  width: 100%;
}

.coming-soon-container {
  border: 1px solid #00c4f4;
  border-radius: 15px;

  height: 400px;
  padding: 50px 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.coming-soon {
  font-size: 30px;
  font-weight: bold;

  text-align: center;
}

.stage {
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.road-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:30px;
  margin-top: 40px;
}
.swiper-button-prev,.swiper-button-next{
background-color: transparent;
border-style: none;
cursor: pointer;
}




/* Cloud Provider */

#cloud-provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  margin-top: 100px;
}

.cloud-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cloud-img {
  width: 300px;
  height: 150px;
  pointer-events: none;
  user-select: none;
}

.cloud-text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud-overlap-t-1 {
  position: absolute;
  top: 18%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 85px;
  font-weight: bold;
  opacity: 0.2;
}
.cloud-overlap-t-2 {
  z-index: 1;
  color: #00c4f4;
  font-size: 50px;
  font-weight: bold;
}

.feature-text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-overlap-t-1 {
  position: absolute;
  top: 19%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 85px;
  font-weight: bold;
  opacity: 0.2;
}
.feature-overlap-t-2 {
  z-index: 1;
  color: #00c4f4;
  font-size: 55px;
  font-weight: bold;
}

.token-text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token-overlap-t-1 {
  position: absolute;
  top: 13%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 85px;
  font-weight: bold;
  opacity: 0.2;
}
.token-overlap-t-2 {
  z-index: 1;
  color: #00c4f4;
  font-size: 50px;
  font-weight: bold;
}

.use-text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.use-overlap-t-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 85px;
  font-weight: bold;
  opacity: 0.2;
}
.use-overlap-t-2 {
  z-index: 1;
  color: #00c4f4;
  font-size: 50px;
  font-weight: bold;
}
.road-text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.road-overlap-t-1 {
  position: absolute;
  top: 4%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 85px;
  font-weight: bold;
  opacity: 0.2;
}
.road-overlap-t-2 {
  z-index: 1;
  color: #00c4f4;
  font-size: 50px;
  font-weight: bold;
}
.overlap-road-text {
  font-size: 22px;
  width: 75%;
  text-align: center;
}

/*  */
.cloud-imgs {
  position: relative;
}

.cloud-star {
  position: absolute;
  margin-bottom: -30px;
  margin-left: -190px;
  margin-top: -13rem;
  align-self: flex-start; 
  height: 290px;
  display: inline;
  pointer-events: none;
  user-select: none;
}

.cloud-square {
  position: absolute;
  margin-bottom: -30px;
  margin-left: 800px;
  margin-top: -10rem;
  align-self: last baseline; 
  display: inline;
  pointer-events: none;
  user-select: none;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 13, 26);
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 90px;
  padding-bottom: 130px;
  border-right: 2px solid rgba(229, 231, 235, 0.2);
}

.footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-l-text {
  width: 86%;
  color: #c9c2c2;
  margin-bottom: 20px;
}

.footer-l-input {
  margin-top: 10px;
}

.footer-input {
  background-color: transparent;
  border: 1px solid #00c4f4;
  border-radius: 26px;
  padding: 14px 32px;
}

.input-btn {
  background-color: #00c4f4;
  border: none;
  border-radius: 26px;
  padding: 14px 25px;
  margin-left: 20px;
  color: white;
}

.lists {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  gap: 150px;
}

.list ul {
  list-style: none;
}
.list ul li {
  margin-top: 14px;
}

.list ul li::before {
  content: '';
  border-color: transparent #ffffff;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.list ul li a {
  text-decoration: none;
  color: #9c9999;
}

.list-name {
  font-size: 21px;
  margin-left: 30px;
}

.icons {
  display: flex;
  align-self: center;
  margin-top: 90px;
  gap: 20px;
}

.bottom-icon {
  pointer-events: none;
  user-select: none;
}

.bottom-border {
  border: 1px solid rgba(229, 231, 235, 0.2);
  width: 80%;
  height: 1px;
}
.copyright {
  color: #9c9999;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 12px;
}

.footer-glow {
  position: absolute;
  height: 400px;
  width: 300px;
  margin-bottom: -36px;
  margin-left: -310px;
  margin-top: -6rem;
  z-index: 3; 
  pointer-events: none; 
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px rgba(0, 196, 244, 0.5); 
  filter: blur(40px); 
}

/* Animations */
@keyframes Glow {
  0% {
    filter: brightness(1.5);
    opacity: 0.9;
  }
  50% {
    filter: brightness(1);
    opacity: 0.5;
  }
  100% {
    filter: brightness(1.5);
    opacity: 0.9;
  }
}

@keyframes perlGlow {
  0% {
    filter: brightness(1.3);
    opacity: 0.7;
  }
  50% {
    filter: brightness(1);
    opacity: 0.5;
  }
  100% {
    filter: brightness(1.3);
    opacity: 0.7;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-30px);
    animation-timing-function: ease-in-out;
  }
  70% {
    transform: translateY(-15px);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: translateY(-4px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}


/* Media Queries */
@media ( min-width:320px) and (max-width:413px){
  /* navbar */
  .navbar-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    color: #00c4f4;
    transition: transform 0.3s ease; 
}

.menu {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: -100%; 
    text-align: center;
    background-color: rgb(3, 11, 21);
    width: 100%;
    height: 100vh;
    border-top: 1px solid #8f8d8d;
    transition: left 0.3s ease; 
}

.menu.active {
    left: 0; 
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #8f8d8d;
}

.menu a:hover {
    background-color: #f0f0f0;
}


  /* home */
  #Home {
    margin-bottom: 80px;
  }

  .home-logo {
    display: none;
  }

  .home-text-body {
    margin-top: 170px;
    margin-left: 30px;
    width: 100%;
    z-index: 2;
  }

  .heading {
    font-size: 25px;

    width: 90%;
  }

  .c-ai {
    font-size: 25px;
  }

  .sub-text {
    width: 85%;
    font-size: 14px;
  }

  .telegram-btn {
    padding: 10px 20px;
  }

  /* Feature */

  .overlap-b-text {
    font-size: 17px;
  }

  .main-feature-group {
    flex-wrap: wrap;
   display: flex;
   flex-direction: column;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 40px;
  }
 
  .main-feature {
    height: 330px;
  }

  .sub-feature-group {
    width: 65%;
  }

  .sub-feature {
    height: 280px;
    font-size: 17px;
    width: 100%;
  }

  .blue {
    font-size: 17px;
  }

  .red {
    font-size: 17px;
  }

  .cloud-spiral {
    margin-bottom: -30px;
    margin-left: 233px;
    margin-top: -114rem;

    height: 170px;
  }

  .waveTwo {
    margin-bottom: -30px;
    margin-left: -140px;
    margin-top: 24rem;

    height: 200px;
  }

  .waveThree {
    display: none;
  }

  /* Tokenomics */
  #Tokenomics {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overlap-token-text {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .tokenPC {
    display: none;
  }

  .tokenMobile {
    display: block;
    height: 300px;
    width: 90%;
    margin-top: 20px;
    border: 1px solid #00c4f4;
    background: transparent;
    border-radius: 12px;
    user-select: none;
    pointer-events: none;
    padding: 20px 10px;
    opacity: 1;
  }

  .purple-bar {
    margin-bottom: -30px;
    margin-left: -10px;
    margin-top: -33rem;

    height: 110px;
  }

  .half-bar {
    display: none;
  }

  .box {
    display: none;
  }

  .planet {
    display: none;
  }

  /* Use cases */

  .use-cases-container {
    flex-direction: column;

    width: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }

  .perl-img {
    margin-top: 20px;
  }

  .first-half {
    flex-direction: column;

    width: 95%;
    gap: 20px;
  }

  .use-case {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width: 100%;
  }

  .use-case-text {
    gap: 20px;
  }

  .use-case-img {
    margin-bottom: 120px;
    margin-right: 30px;

    height: 40px;
  }
  .find-more-container {
    gap: 10px;

    padding-bottom: 7px;
    width: 50%;
  }

  .f-line {
    height: 1px;
    width: 470px;overflow: hidden;
  }

  .h-lines {
    gap: 70px;
  }

  .h-line {
    width: 200px;
  }

  /* How To Buy */

  .to {
    font-size: 40px;
  }

  .how-to-heading {
    font-size: 37px;
  }
  .how-to-text {
    flex-direction: column;
  }

  .copy-box {
    width: 80%;
    flex-direction: row;
  }

  .address {
    font-size: 13px;
    
  }
  .how-to-group {
    flex-direction: column;

    gap: 25px;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .slider-container {
    width: 90%;
    padding: 10px 0px;
    height: 85px;
  }

  .slide img {
    height: 65px;
    margin-left: 20px;
  }

  /* Cloud Provider */

  .cloud-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  .cloud-img {
    width: 300px;
    height: 150px;
    pointer-events: none;
    user-select: none;
  }

  .text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .overlap-t-1 {
    top: 25%;
    left: 50%;

    font-size: 40px;
  }
  .overlap-t-2 {
    font-size: 40px;
  }

  .cloud-star {
    margin-left: -100px;
    margin-top: -40rem;

    height: 200px;
  }

  .cloud-square {
    margin-bottom: -30px;
    margin-left: 150px;
    margin-top: 30rem;
    height: 200px;
    opacity: 0.7;
  }

  

  /* Footer */
  .footer {
    flex-direction: column;
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
    width: 100%;
  }

  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 0px;
    border-bottom: 2px solid rgba(229, 231, 235, 0.2);
    padding: 10px 20px;
  }

  .footer-right {
    flex-direction: column;
    width: 100%;
  }

  .footer-l-text {
    width: 100%;
    color: #c9c2c2;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    
  }

  .footer-l-input {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .copyright {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 12px;
  }

  .cloud-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cloud-overlap-t-1 {
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 41px;
    font-weight: bold;
    opacity: 0.2;
  }
  .cloud-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 43px;
    font-weight: bold;
  }
  
  .feature-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feature-overlap-t-1 {
    position: absolute;
    top: 19%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .feature-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 50px;
    font-weight: bold;
  }
  
  .token-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .token-overlap-t-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .token-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 45px;
    font-weight: bold;
  }
  
  .use-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .use-overlap-t-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .use-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 45px;
    font-weight: bold;
  }
  .road-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .road-overlap-t-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .road-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 45px;
    font-weight: bold;
  }
  .overlap-road-text {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 413px) and (max-width: 600px) {
  /* navbar */
  .navbar-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    color: #00c4f4;
    transition: transform 0.3s ease; 
}

.menu {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: -100%; 
    text-align: center;
    background-color: rgb(3, 11, 21);
    width: 100%;
    height: 100vh;
    border-top: 1px solid #8f8d8d;
    transition: left 0.3s ease; 
}

.menu.active {
    left: 0; 
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #8f8d8d;
}

.menu a:hover {
   color: #00c4f4;
}


  /* home */
  #Home {
    margin-bottom: 80px;
  }

  .home-logo {
    display: none;
  }

  .home-text-body {
    margin-top: 170px;
    margin-left: 30px;
    width: 90%;
    z-index: 2;
  }

  .heading {
    font-size: 25px;

    width: 70%;
  }

  .c-ai {
    font-size: 25px;
  }

  .sub-text {
    width: 85%;
    font-size: 14px;
  }

  .telegram-btn {
    padding: 10px 20px;
  }

  /* Feature */

  .overlap-b-text {
    font-size: 17px;
  }

  .main-feature-group {
    flex-wrap: wrap;
    gap: 30px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main-feature-group > * {
    flex: 1 1 calc(50% - 30px); 
  }

  .main-feature {
    height: 330px;
  }

  .sub-feature-group {
    width: 65%;
  }

  .sub-feature {
    height: 280px;
    font-size: 17px;
    width: 85%;
  }

  .blue {
    font-size: 17px;
  }

  .red {
    font-size: 17px;
  }

  .cloud-spiral {
    margin-bottom: -30px;
    margin-left: 310px;
    margin-top: -16rem;

    height: 170px;
  }

  .waveTwo {
    margin-bottom: -30px;
    margin-left: -140px;
    margin-top: 24rem;

    height: 200px;
  }

  .waveThree {
    display: none;
  }

  /* Tokenomics */
  #Tokenomics {
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overlap-token-text {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }

  .tokenPC {
    display: none;
  }

  .tokenMobile {
    display: block;
    height: 300px;
    width: 90%;
    margin-top: 20px;
    border: 1px solid #00c4f4;
    background: transparent;
    border-radius: 12px;
    user-select: none;
    pointer-events: none;
    padding: 20px 10px;
    opacity: 1;
  }

  .purple-bar {
    margin-bottom: -30px;
    margin-left: -20px;
    margin-top: -30rem;

    height: 110px;
  }

  .half-bar {
    display: none;
  }

  .box {
    display: none;
  }

  .planet {
    display: none;
  }

  /* Use cases */

  .use-cases-container {
    flex-direction: column;

    width: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid palevioletred; */
  }

  .perl-img {
    margin-top: 20px;
  }

  .first-half {
    flex-direction: column;

    width: 90%;
    gap: 20px;
  }

  .use-case {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width: 100%;
  }

  .use-case-text {
    gap: 20px;
  }

  .use-case-img {
    margin-bottom: 120px;
    margin-right: 30px;

    height: 40px;
  }
  .find-more-container {
    gap: 10px;

    padding-bottom: 7px;
    width: 60%;
  }

  .f-line {
    height: 1px;
    width: 400px;
  }

  .h-lines {
    gap: 70px;
  }

  .h-line {
    width: 200px;
  }

  /* How To Buy */

  .to {
    font-size: 40px;
  }

  .how-to-heading {
    font-size: 40px;
  }
  .how-to-text {
    flex-direction: column;
  }

  .copy-box {
    display: flex;
   width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
  }

  .address {
    font-size: 13px;
  }
  .how-to-group {
    flex-direction: column;

    gap: 25px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .slider-container {
    width: 90%;
    padding: 10px 0px;
    height: 85px;
  }

  .slide img {
    height: 65px;
    margin-left: 20px;
  }

  /* Cloud Provider */

  .cloud-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  .cloud-img {
    width: 300px;
    height: 150px;
    pointer-events: none;
    user-select: none;
  }

  .text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .overlap-t-1 {
    top: 25%;
    left: 50%;

    font-size: 45px;
  }
  .overlap-t-2 {
    font-size: 40px;
  }

  .cloud-star {
  display: none;
  }

  .cloud-square {
    margin-bottom: -30px;
    margin-left: 160px;
    margin-top: 30rem;
    height: 200px;
    opacity: 0.7;
  }

  

  /* Footer */
  .footer {
    flex-direction: column;
  }

  .footer-top {
    flex-direction: column;
    width: 100%;
  }

  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 0px;
    border-bottom: 2px solid rgba(229, 231, 235, 0.2);
    padding: 10px 20px;
  }

  .footer-right {
    flex-direction: column;
  }

  .footer-l-text {
    width: 100%;
    color: #c9c2c2;
    margin-bottom: 20px;
  }

  .footer-l-input {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .copyright {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 12px;
  }

  .cloud-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cloud-overlap-t-1 {
    position: absolute;
    top: 23%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    opacity: 0.2;
  }
  .cloud-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 40px;
    font-weight: bold;
  }
  
  .feature-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feature-overlap-t-1 {
    position: absolute;
    top: 29%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 57px;
    font-weight: bold;
    opacity: 0.2;
  }
  .feature-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 50px;
    font-weight: bold;
  }
  
  .token-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .token-overlap-t-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .token-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 47px;
    font-weight: bold;
  }
  
  .use-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .use-overlap-t-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .use-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 47px;
    font-weight: bold;
  }
  .road-text-overlap {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .road-overlap-t-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    opacity: 0.2;
  }
  .road-overlap-t-2 {
    z-index: 1;
    color: #00c4f4;
    font-size: 50px;
    font-weight: bold;
  }
  .overlap-road-text {
    font-size: 18px;
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
/* navbar */
.navbar-menu {
  display: none;
}

.hamburger-icon {
  display: block;
  font-size: 30px;
  cursor: pointer;
  margin-left: 20px;
  color: #00c4f4;
  transition: transform 0.3s ease; 
}

.menu {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 0;
  left: -100%; 
  text-align: center;
  background-color: rgb(3, 11, 21);
  width: 100%;
  height: 100vh;
  border-top: 1px solid #8f8d8d;
  transition: left 0.3s ease; 
}

.menu.active {
  left: 0; 
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #8f8d8d;
}

.menu a:hover {
  color: #00c4f4;
}


/* home */
#Home {
  margin-bottom: 80px;
}

.home-logo {
  display: none;
}

.home-text-body {
  margin-top: 170px;
  margin-left: 30px;
  width: 90%;
  z-index: 2;
}

.heading {
  font-size: 25px;

  width: 70%;
}

.c-ai {
  font-size: 25px;
}

.sub-text {
  width: 85%;
  font-size: 14px;
}

.telegram-btn {
  padding: 10px 20px;
}

/* Feature */

.overlap-b-text {
  font-size: 17px;
}

.main-feature-group {
  flex-wrap: wrap;
  gap: 30px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-feature-group > * {
  flex: 1 1 calc(50% - 30px); 
}

.main-feature {
  height: 330px;
}

.sub-feature-group {
  width: 65%;
}

.sub-feature {
  height: 280px;
  font-size: 17px;
  width: 85%;
}

.blue {
  font-size: 17px;
}

.red {
  font-size: 17px;
}

.cloud-spiral {
  margin-bottom: -30px;
  margin-left: 440px;
  margin-top: -12rem;

  height: 170px;
}

.waveTwo {
  margin-bottom: -30px;
  margin-left: -140px;
  margin-top: 24rem;

  height: 200px;
}

.waveThree {
  display: none;
}

/* Tokenomics */
#Tokenomics {
  margin-top: 50px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlap-token-text {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.tokenPC {
  display: none;
}

.tokenMobile {
  display: block;
  height: 300px;
  width: 90%;
  margin-top: 20px;
  border: 1px solid #00c4f4;
  background: transparent;
  border-radius: 12px;
  user-select: none;
  pointer-events: none;
  padding: 20px 10px;
  opacity: 1;
}

.purple-bar {
  margin-bottom: -30px;
  margin-left: -20px;
  margin-top: -30rem;

  height: 110px;
}

.half-bar {
  display: none;
}

.box {
  display: none;
}

.planet {
  display: none;
}

/* Use cases */

.use-cases-container {
  flex-direction: column;

  width: 100%;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 1px solid palevioletred; */
}

.perl-img {
  margin-top: 20px;
}

.first-half {
  flex-direction: column;

  width: 90%;
  gap: 20px;
}

.use-case {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
  width: 100%;
}

.use-case-text {
  gap: 20px;
}

.use-case-img {
  margin-bottom: 120px;
  margin-right: 30px;

  height: 40px;
}
.find-more-container {
  gap: 10px;

  padding-bottom: 7px;
  width: 25%;
}

.f-line {
  height: 1px;
  width: 500px;
}

.h-lines {
  gap: 70px;
}

.h-line {
  width: 220px;
}

/* How To Buy */

.to {
  font-size: 40px;
}

.how-to-heading {
  font-size: 40px;
}
.how-to-text {
  flex-direction: column;
}

.copy-box {
  display: flex;
 width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.address {
  font-size: 13px;
}
.how-to-group {
  flex-direction: column;

  gap: 25px;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.slider-container {
  width: 90%;
  padding: 10px 0px;
  height: 85px;
}

.slide img {
  height: 65px;
  margin-left: 20px;
}

/* Cloud Provider */

.cloud-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.cloud-img {
  width: 300px;
  height: 150px;
  pointer-events: none;
  user-select: none;
}

.text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.overlap-t-1 {
  top: 25%;
  left: 50%;

  font-size: 45px;
}
.overlap-t-2 {
  font-size: 40px;
}

.cloud-star {
  display: none;
}

.cloud-square {
  margin-bottom: -30px;
  margin-left: 160px;
  margin-top: 30rem;
  height: 200px;
  opacity: 0.7;
}



/* Footer */
.footer {
  flex-direction: column;
}

.footer-top {
  flex-direction: column;
  width: 100%;
}

.footer-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 0px;
  border-bottom: 2px solid rgba(229, 231, 235, 0.2);
  padding: 70px 70px;
}

.footer-right {
  flex-direction: column;
}

.footer-l-text {
  width: 100%;
  color: #c9c2c2;
  margin-bottom: 20px;
}

.footer-l-input {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyright {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 12px;
}
}

@media (min-width: 901px) and (max-width: 1200px) {
  /* navbar */






/* home */
#Home {
  margin-bottom: 80px;
}

.home-logo {
  height: 55vh;
  width: 40vw;
  margin-top: 70px;
  animation: Glow 3s infinite ease-in-out;
  background: transparent;
  pointer-events: none;
  user-select: none;
}

.home-text-body {
  margin-top: 170px;
  margin-left: 30px;
  width: 100%;
  z-index: 2;
}

.heading {
  font-size: 25px;

  width: 90%;
}

.c-ai {
  font-size: 25px;
}

.sub-text {
  width: 85%;
  font-size: 14px;
}

.telegram-btn {
  padding: 10px 20px;
}

/* Feature */

.overlap-b-text {
  font-size: 17px;
}

.main-feature-group {
  flex-wrap: wrap;
  gap: 30px;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-feature-group > * {
  flex: 1 1 calc(50% - 30px); 
}

.main-feature {
  height: 330px;
}

.sub-feature-group {
  width: 65%;
}

.sub-feature {
  height: 200px;
  font-size: 17px;
  width: 85%;
}

.blue {
  font-size: 17px;
}

.red {
  font-size: 17px;
}

.cloud-spiral {
  margin-bottom: -30px;
  margin-left: 440px;
  margin-top: -12rem;

  height: 170px;
}

.waveTwo {
  margin-bottom: -30px;
  margin-left: -140px;
  margin-top: 24rem;

  height: 200px;
}

.waveThree {
  display: none;
}

/* Tokenomics */
#Tokenomics {
  margin-top: 100px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlap-token-text {
  font-size: 18px;
  width: 80%;
  text-align: center;
}




.purple-bar {
  margin-bottom: -30px;
  margin-left: -20px;
  margin-top: -30rem;

  height: 110px;
}

.half-bar {
  display: none;
}

.box {
  display: none;
}

.planet {
  display: none;
}

/* Use cases */

.use-cases-container {
  flex-direction: column;

  width: 100%;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 1px solid palevioletred; */
}

.perl-img {
  margin-top: 20px;
}

.first-half {
  flex-direction: column;

  width: 85%;
  gap: 20px;
}

.use-case {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
  width: 90%;
}

.use-case-text {
  gap: 20px;
}

.use-case-img {
  margin-bottom: 120px;
  margin-right: 30px;

  height: 40px;
}
.find-more-container {
  gap: 10px;

  padding-bottom: 7px;
  width: 25%;
}

.f-line {
  height: 1px;
  width: 80%
}

.h-lines {
  gap: 70px;
}

.h-line {
  width: 280px;
}

/* How To Buy */

.to {
  font-size: 40px;
}

.how-to-heading {
  font-size: 40px;
}
.how-to-text {
  flex-direction: column;
}

.copy-box {
  display: flex;
 width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.address {
  font-size: 13px;
}
.how-to-group {
  flex-direction: column;

  gap: 25px;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.slider-container {
  width: 90%;
  padding: 10px 0px;
  height: 85px;
}

.slide img {
  height: 65px;
  margin-left: 20px;
}

/* Cloud Provider */

.cloud-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.cloud-img {
  width: 300px;
  height: 150px;
  pointer-events: none;
  user-select: none;
}

.text-overlap {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.overlap-t-1 {
  top: 25%;
  left: 50%;

  font-size: 45px;
}
.overlap-t-2 {
  font-size: 40px;
}

.cloud-star {
  display: none;
}

.cloud-square {
  margin-bottom: -30px;
  margin-left: 160px;
  margin-top: 30rem;
  height: 200px;
  opacity: 0.7;
}



/* Footer */
.footer {
  flex-direction: column;
}

.footer-top {
  flex-direction: row;
  width: 100%;
}

.footer-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 0px;
  border-bottom: 2px solid rgba(229, 231, 235, 0.2);
  padding: 70px 70px;
}

.footer-right {
  flex-direction: column;
}

.footer-l-text {
  width: 100%;
  color: #c9c2c2;
  margin-bottom: 20px;
}

.footer-l-input {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyright {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 12px;
}
}

/* @media (min-width:1200px){

} */